.App {
	height: 100vh;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 39%,
		rgba(252, 176, 69, 1) 97%
	);
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 40% 60%;
	grid-template-rows: 2fr 7fr 1fr;
	grid-template-areas:
		"titulo titulo"
		"formulario resultado"
		"footer footer";
}

.titulo {
	grid-area: titulo;
}

.footer {
	grid-area: footer;
}

.formulario {
	grid-area: formulario;
}

.resultado {
	grid-area: resultado;
}

@media only screen and (max-width: 800px) {
	.container {
		display: grid;
		height: 100vh;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
		grid-template-areas:
			"titulo"
			"formulario"
			"resultado"
			"footer";
	}
}

.temperaturas {
	display: grid;
	grid-template-columns: auto auto;
	text-align: left;
	margin-left: 20px;
}

option::first-letter {
	text-transform: uppercase;
}
